*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Acá comienza el estilo para todas la paginas*/
header{
    height: 80px;
    width: 100%;
    background-color: #53000F;
    padding: 20px;
}
.Nombre{
    float: left;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
.barra{
    float: right;
    line-height: 25px;

}
.barra ul li{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
    border: 2px solid #ffffff75;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
}
.barra a{
    text-decoration: none;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    font-size: 15px;
}

/* Acá se usa 2 main dependiendo del contenido*/
main{
    height: calc(100vh - 80px);
    width: 100%;
    background-color: #000000;
}
#mainfondo2{
    height: 100%;
    width: 100%;
    background-color: #000000;
}
/* Comienza los estilos de los contenidos*/
.logo{ /*Index*/
    width: 100%;
    height: 100%;
    background-image: url(../Imagenes/LOGO.jpg);
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-size: cover;
    background-position: center;

}

#contenedorfoto{
    height: auto;
    width: 100%;
    background-color: aqua;
    padding: 20px;
}

.foto{
    border: 2px solid #cef563c9;
    border-radius: 5px;
    height: 400px;
    width: 100%;
    filter: grayscale(50%)
}
.foto:hover{
    transform: scale(1.10);
    transition: all 0.5s;
    filter: grayscale(0%);
}
.foto1{
    background-image: url(../Imagenes/Foto1.jpg);
    background-size: cover;
    background-position: center;
}
.foto2{
    background-image: url(../Imagenes/Foto2.jpg);
    background-size: cover;
    background-position: center;
}
.foto3{
    background-image: url(../Imagenes/Foto3.jpg);
    background-size: cover;
    background-position: center;
}
.foto4{
    background-image: url(../Imagenes/Foto4.jpg);
    background-size: cover;
    background-position: center;
}
.foto5{
    background-image: url(../Imagenes/Foto5.jpg);
    background-size: cover;
    background-position: center;
}
.foto6{
    background-image: url(../Imagenes/Foto6.jpg);
    background-size: cover;
    background-position: center;
}
.foto7{
    background-image: url(../Imagenes/Foto7.jpg);
    background-size: cover;
    background-position: center;
}
.foto8{
    background-image: url(../Imagenes/Foto8.jpg);
    background-size: cover;
    background-position: center;
}
.foto9{
    background-image: url(../Imagenes/Foto9.jpg);
    background-size: cover;
    background-position: center;
}
.foto10{
    background-image: url(../Imagenes/Foto10.jpg);
    background-size: cover;
    background-position: center;
}
.foto11{
    background-image: url(../Imagenes/Foto11.jpg);
    background-size: cover;
    background-position: center;
}
.foto12{
    background-image: url(../Imagenes/Foto12.jpg);
    background-size: cover;
    background-position: center;
}
.img{ /*Fotos*/
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 10px solid #ffffff;

}
#master{ /*Video*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#master .cajavideo{ /*Video*/
    height:520px;
    width:600px;
    margin-left: 30px;
    padding-top: 30px;
}
#master .cajavideo #video{ /*Video*/
    background-color: #f3eee1;
    height:344px;
    width:590px;
    margin-bottom: 30px;
    padding: 15px;
    position: relative;
}
.textocaja{ /*Video*/
    height: auto;
    width: 590px;
    margin-left: auto;
    margin-right: auto;
    background-color: #c59968;

}
.textocaja .texto{ /*Video*/
    color: #ffffff;
    text-align: center;
    padding: 20px;
}
#cajacontacto{ /*Contacto*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
#cajacontacto #contacto{ /*Contacto*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: #f3eee1;
    height:450px;
    width:550px;
}
/* Acá es el estilo del fotter*/
footer{
    background-color: #f3eee1;
    height: 30px;
    width: 100%;
    bottom: 0px;
    position: relative;
}
.creditos{
    float: left;
    margin-left: 15px;
    line-height: 25px;
}
.icon{
    float: right;
    margin-right: 10px;
    line-height: 30px;
}

@media only screen and (min-width: 320px) and (max-width:767px){
    header{
        height:250px;
    }
    .barra{
        margin-top: 30px;
        margin-bottom: 10px;
        float: left;
    }
    .barra ul li{
        margin-bottom: 10px;
    }
    .logo{
        width: 90%;
        height: 30%;
    }
    #contenedorfoto{
        display: grid;
        grid-template-columns: (1fr 1fr);
    }
    .img{
        height: 500px;
        width: 300px;
    }
    .textocaja{
        width: 300px;
    }
}
@media only screen and (min-width: 768px) and (max-width:1199px){
    header{
        height:250px;
    }
    .barra{
        margin-top: 30px;
        margin-bottom: 10px;
        float: left;
    }
    .barra ul li{
        margin-bottom: 10px;
    }
    .logo{ /*Index*/
        width: 80%;
        height: 80%;
    }
    #contenedorfoto{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .foto1{
        grid-column: 1/4;
    }
    .foto2{
        grid-column: 1/2;
    }
    .foto3{
        grid-column: 2/4;
    }
    .foto4{
        grid-column: 1/4;
    }
    .foto6{
        grid-column: 2/4;
    }
    .foto7{
        grid-column: 1/4;
    }
    .foto10{
        grid-column: 1/4;
    }
    .foto12{
        grid-column: 2/4;
    }
}
@media only screen and (min-width: 1200px) {
    #contenedorfoto{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }
    .foto2{
        grid-column: 2/4;
    }
    .foto4{
        grid-column: 1/3;
    }
    .foto8{
        grid-column: 2/4;
    }
    .foto12{
        grid-column: 3/5;
    }
}